{% extends 'base.html' %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Engineer Dashboard</h1>
        <p class="col-md-8 fs-4">
            Welcome to your Ticketing Dashboard! Track, manage, and resolve issues efficiently—all in one place.
        </p>
        <a href = "{% url 'engineer-active-tickets' %}" class="btn btn-primary btn-lg" type="button">View Active Tickets</a>
    </div>
    <div>
        <div class="row">
            <div class="col">
                <div class="p-5 mb-4 bg-light rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-7 fw-bold">Active Tickets : {{active_tickets.count}}</h1>
                    </div>
    
                </div>
            </div>
            <div class="col">
                <div class="p-5 mb-4 bg-light rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-7 fw-bold">Closed Tickets : {{closed_tickets.count}}</h1>
                    </div>
    
                </div>
            </div>
            <div class="col">
                <div class="p-5 mb-4 bg-light rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-7 fw-bold">All Tickets : {{tickets.count}} </h1>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %} 